@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');

@import url("https://fonts.googleapis.com/css?family=Noto+Serif+TC&amp;display=swap");

*,
body {
  box-sizing: border-box;
  font-family: "Noto Sans TC", sans-serif;
  color: #3D081B;
}

img {
  max-width: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
}

button {
  border: 0;
  outline: 0;
  background-color: transparent;
  cursor: pointer;
}

input,
textarea {
  font-size: initial;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Noto Serif TC', serif;
  line-height: 1.2;
}

p {
  line-height: 1.5;
}