@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');

@import url("https://fonts.googleapis.com/css?family=Noto+Serif+TC&amp;display=swap");

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

img,
picture,
svg {
  max-width: 100%;
  object-fit: cover;
  display: block;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Noto Serif TC', serif, sans-serif !important;
  line-height: 1.2;
}

button {
  border: 0;
  outline: 0;
  background-color: transparent;
  cursor: pointer;
}