.border-custom {
  border: 3px solid #3D0818;
  border-radius: 12px;
  box-shadow: 0 5px 0 0 #3D0818;
}

.border-custom.is-invalid {
  box-shadow: none;
}

// 破圖處理
img {
  position: relative;

  &:after {
    content: attr(alt);
    display: flex;
    font-size: 16px;
    align-items: center;
    justify-content: center;
    position: absolute;
    background-color: #3D081B;
    inset: 0;
    color: white;
  }
}

.content-center {
  align-content: center;
}

.invalid-feedback {
  padding-inline-start: 8px;
}