@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');

*,
body {
    box-sizing: border-box;
    font-family: "Noto Sans TC", sans-serif;
}

img {
    max-width: 100%;
    object-fit: cover;
}

a {
    text-decoration: none;
}